<FilesMatch ".php$">
    AddHandler x-httpd-php54 .php
</FilesMatch>

RewriteEngine On
RewriteRule ^([A-Za-z-0-9-]+)/([A-Za-z-]+)/([0-9]+)/?$ index.php?Token=$1&Object=$2&Id=$3 [NC,L]    # Handle product requests